body {
    margin-bottom: 25%;
}

.bottom-nav {
  z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1); 
      }

      .bottom-nav a {
          text-decoration: none;
          color: #000000;
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .bottom-nav img {
          width: 40px;
          height: 40px;
          margin-bottom: 0px; 
      }

     
      .bottom-nav a.active {
          color: #000000;
          
      }

.bottom-nav a.active svg path {
  fill:#000000; 
}

.profile-container {
  background-color: #000000;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-number {
  margin-top: 10px;
  font-size: larger;
  background-color: #050505 !important;
}

.bold-value {
  font-weight: bold;
}

.invitation-code {
  margin-top: 10px;
  font-size: larger;
  display: flex;
  align-items: center;
}

.copy-icon {
  margin-left: 5px;
  cursor: pointer;
}

.transaction-card {
  margin-bottom: 20px;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
}


 
 .list-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
}


#successmsg {
  color: white;
  display: none;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(77, 77, 77, 1);
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  z-index: 1000;
}


.list-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.icon {
    margin-right: 10px;
}

.name {
    flex-grow: 1;
}

.arrow {
    font-weight: bold;
    margin-right: 30px;
}

.list-divider {
    border: none;
    border-top: 1px solid #dee2e6;
    margin: 10px 0;
}

#limage {
    width: 20px;
    height: 20px;
}


.invitation-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
}

.invitation-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.invitation-label,
.invitation-value {
    flex-grow: 1;
}

.invitation-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invitation-link,
.invitation-link-value {
    margin-bottom: 5px;
}

.copy-icon,
.copy-button {
    padding: 8px;
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copy-button {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

  .modal-dialog{
    top: 20%;
  }


  .modal-content{
    background-color: #111111;
    color: white;
  }

  #editUsernameModal #newUsername {
    background-color:#111111;
    color: antiquewhite;
  }

  .btn-save {
    background-color:#fff;
    color: #111111;
  }