body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    background-color: transparent;
    padding: 40px;
    color: #f0f0f0;
    border-radius: 10px;
}

/* .content-container{
    background-color: #000000;
} */

form {
    margin-top: 20%;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}



.input-group-text{
    font-size: larger;
}
#phoneNumber{
    color: #333333; 
    border: none;
    padding: 25px;
    width: 10%;
    font-size: larger;
    border-color: #000000 !important;
}

#otp {
    color: #333333; 
    border: none;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 10px;
    width: 100%;
    font-size: larger;
}

#phoneNumber::placeholder,
#otp::placeholder {
    color: gray;
}

#otpButton {
    background-color: #000000;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 15px;
    font-weight: bolder;
    width: 150%;
    margin-left: 90%; 
    cursor: pointer;
}

#verificationBox {
    background-color: #333333;
    color: #ffffff; 
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#logoContainer {
border-radius: 50%;
overflow: hidden;
width: 100px; 
height: 100px; 
margin: 10% auto 0; 
background-color: #f0f0f0;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
margin-bottom:10%;
}

#logoContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: transparent;
}

h2 {
    color: #000000;; 
    font-size: 24px;
    margin-bottom: 20px;
}

#resendOtpText {
    color: #000000;
    font-size: larger;
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px; /* Adjust the margin as needed */
}


#btn-verification {
    background-color: #000000;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 12px;
    font-weight: bolder;
    cursor: pointer;
}


@media (max-width: 767px) {}


@media (max-width: 767px) {
    #logoContainer {
border-radius: 50%;
overflow: hidden;
width: 80px; 
height: 80px; 
margin: 10% auto 0; 
background-color: #f0f0f0;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
margin-bottom:25%;
}
}