body {
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
  }

  .main-body {
    padding: 15px;
  }

  .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    width: 115%;
    height: auto;
    margin-left: -8%;
  }

  #avatar {
      cursor: pointer;
  }

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }

  .gutters-sm {
   margin-top: -15px !important;
  }

  .gutters-sm>.col,
  .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
  }

  .mb-3,
  .my-3 {
    margin-bottom: 1rem !important;
  }

  #profilediv{
      background-color: #000000;
      color: #fff;
  }

  .bg-gray-300 {
    background-color: #e2e8f0;
  }

  .h-100 {
    height: 100% !important;
  }

  .shadow-none {
    box-shadow: none !important;
  }

  #info {
      font-size: larger;
      font-weight: bolder;
  }


   
   .left-arrow {
      z-index: 2;
    position: fixed;
    top: 30px;
    left: 75px;
    cursor: pointer;
    width: 24px; 
    height: 24px; 
  }


  #logoutbtn {
    margin-top: 1% !important;
  }

  #logoutbtn-btn {
    background-color:#1a202c;
    color: white;
}

  
  @media (max-width: 767px) {
      .left-arrow {
      z-index: 2;
    position: fixed;
    top: 30px;
    left: 80px;
    cursor: pointer;
    width: 24px; 
    height: 24px; 
  }

      }

  .left-arrow img{
      width: 50px;
      height: 50px;
      fill: white; 
      filter: brightness(1.5);
  }

  .btn-save {
    background-color:#fff;
    color: #111111;
  }

  .btn1,
.btn1:hover,
.btn1:visited,
.btn1:active {
  text-decoration: none; /* Remove default underline for anchor tags */
  color: #fff;
}

.btn1 {
  background-color: #111111;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 8px;
  font-weight: bolder;
  cursor: pointer;
  min-width: 20px;
  font-size: 16px; 
  display: inline-block; /* Ensure anchor behaves like a block element */
}

.btn1:hover {
  background-color: #1a202c !important; /* Use !important to override default styles */
}




.modal {
font-size: larger;
font-weight: bolder;
display: none;
position: fixed;
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%); 
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7);
justify-content: center;
align-items: center;
}

.modal-content {
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
text-align: center;
}


.avatar-list {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 10px;
max-height: 300px;
overflow-y:scroll;
}


.close {
position: absolute;
top: 10px;
right: 10px;
font-size: 20px;
cursor: pointer;
}


.avatar-option {
width: 80px;
height: 80px;
border-radius: 50%;
cursor: pointer;
transition: transform 0.3s;
}

.avatar-option:hover {
transform: scale(1.1);
}



@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 480px) {


 
   .left-arrow {
      z-index: 2;
    position: fixed;
    top: 30px;
    left: 20px;
    cursor: pointer;
    width: 24px; 
    height: 24px;
  }

  #logoutbtn {
      margin-top: 1% !important;
  }

  .main-body{
      margin-top: 0% !important;
  }

  .btn1 {
    font-size: 16px; 
  }
}

#editUsernameModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-dialog{
  top: 20%;
}

.modal-content{
  background-color: #111111;
  color: white;
}

#editUsernameModal #newUsername {
  background-color:#111111;
  color: antiquewhite;
}