<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/admin.css" />


</head>


<body>

    <div class="container text-center">
        <h5 class="mt-5">Welcome to Admin Panel</h5>
        {% if phone == '9509251093' %}
            <h6>Hello, Deepak!</h6>
        {% elif phone == '9001939821' %}
            <h6>Greetings, Shivkaran!</h6>
        {% elif phone == '9256308961' %}
            <h6>Hi, Abhishek!</h6>
        {% else %}
            <p>You are not authorized to access this page.</p>
        {% endif %}


        <div class="container mt-4">
            <div class="btn-group" role="group" aria-label="Button Group" id="buttonGroup">
                <button type="button" class="btn active" id="usersbtn">Users</button>
                <button type="button" class="btn " id="depositbtn">Deposits</button>
                <button type="button" class="btn " id="withdrawalsbtn">Withdrawals</button>
                <button type="button" class="btn " id="settingsbtn">Settings</button>
            </div>
        </div>

        
    </div>


    <div class="container mt-4" id="userDataContainer">
    </div>

    <div class="container mt-4" id="depositsDataContainer" hidden>
    </div>

    <div class="container mt-4" id="withdrawalsDataContainer" hidden>
    </div>

    <div class="container mt-4" id="settingsDataContainer" hidden>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     
    <script src="/static/js/admin.js" defer></script>

</body>
</html>
