<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Help - USDT2INR Application</title>
    <link rel="stylesheet" href="static/css/help.css">
    <link rel="stylesheet" href="static/css/spinner.css">

</head>
<body>

    <div id="spinner" class="loading-state">
        <div class="loading"></div>
        <div class="loading-text">
          <span class="orange-text">Hmm,</span>
          <span class="black-text"> Loading....</span>
        </div>
      </div>

    <div class="left-arrow" onclick="history.back()">
        <img src="static/assets/svg-elements/navigate-back.svg" alt="Navigate Back">
      </div>

<div class="help-container">
    <h4>USDT2INR Application Help</h4>
    <hr>
    <h5>Getting Started</h5>
    <p>Welcome to the USDT2INR application! This page provides assistance on using the application efficiently.</p>
    <hr>
    <h4>1. Profile Information</h4>
    <p>View your profile details including your mobile number and invitation code on the profile page.</p>
    <hr>
    <h4>2. Balance Information</h4>
    <p>Check your USDT balance along with its equivalent value in INR on the dashboard.</p>
    <hr>
    <h4>3. Transactions</h4>
    <p>View your recent transactions and keep track of your financial activities.</p>
    <hr>
    <h4>4. Help and Support</h4>
    <p>If you encounter any issues or have questions, feel free to reach out to our support team at support@usdt2inr.vip.</p>
    <hr>
    <h4>Need Further Assistance?</h4>
    <p>For additional help or inquiries, please contact our support team. We're here to assist you!</p>
    <hr>
    <div class="back-to-home">
        <a href="/dashboard">Back to Home</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="static/js/help.js"></script>
<script src="static/js/spinner.js"></script>


</body>
</html>
