<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="static/css/index.css" />
</head>
<body>
    <div id="spinner" class="loading-state" style="display: none;">
        <div class="loading"></div>
        <div class="loading-text">
            <span style="color: #FFA500;"></span>
            <span> Loading....</span>
        </div>
    </div>

    <div class="container">
        <div id="logoContainer" class="logo-container">
            <img src="./static/assets/logo1.png" alt="Logo" width="192" height="33">
        </div>
        
        <div class="content-container">
            <form id="form" class="mb-5" id="authForm">
                <h2>Login/Signup</h2>
                <div id="verificationBox" hidden>
                    <p id="verificationMessage"></p>
                </div>
                <div id="sendotp" class="row">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">+91</span>
                        </div>
                        <input type="tel" id="phoneNumber" class="form-control" placeholder="Enter your mobile number" aria-label="Number" aria-describedby="basic-addon1">
                    </div>
                    <button type="button" id="otpButton" onclick="sendOTP()">Get OTP</button>
                </div>
                <div class="row">
                    <div class="input-group">
                        <input type="tel" class="otp_input" id="otp" placeholder="Enter OTP received" hidden required>
                    </div>
                </div>
                <button type="button" id="btn-verification" onclick="authenticateUser()" class="btn" hidden>Login/Signup</button>
                <span id="resendOtpText" onclick="sendOTP()" hidden>Resend OTP</span>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="static/js/toaster.js"></script>
    <script src="static/js/index.js"></script>
    <script src="static/js/spinner.js"></script>
</body>
</html>