<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="static/css/index.css">
   
</head>

<body>

    <div class="container-fluid">
        <div id="logoContainer" >
            <img src="static/assets/logo.png" alt="Logo" >
        </div>

        <form id="form" class="mb-5" id="authForm">
            <h2>Login/Signup Eazy...</h2>
            <div id="verificationBox" hidden>
                <p id="verificationMessage"></p>
            </div>
                <div id="sendotp" class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">+91</span>
                        </div>
                        <input type="tel" id="phoneNumber" class="form-control" placeholder="Enter your mobile number" aria-label="Number" aria-describedby="basic-addon1">
                      </div>

                    <div class="col-4 col-md-4">
                        <button type="button" id="otpButton" onclick="sendOTP()">Get OTP</button>
                    </div>
                </div>
            
            <div  class="row">
                <div class="col-md-12 mt-2">
                    <input type="tel" id="otp" placeholder="Enter OTP received" required>
                </div>
            </div>
            <button type="button" id="btn-verification" onclick="authenticateUser()" class="btn btn-success">Login/Signup</button>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <script src="static/js/index.js"></script>
  
</body>

</html>
