<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Order Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <link rel="stylesheet" href="static/css/inrwrhdash.css">
  
</head>
<body>

   
      <div class="wrapper">
    <div class="container1">
        <div class="left-arrow" id="scrollArrow" onclick="redirectTo('/dashboard')">
            <img src="static/assets/svg-elements/navigate-back.png" alt="Navigate Back">
          </div>
    
        <h4 class="text-center mx-auto">Order</h4>
    </div>

    <div class="container">
        <div class="box">
            <p>Available Balance</p>
            <div class="box-content">
                <h2>$2.876<h2>
                <h2>≈ ₹238.75<h2>
            </div>
        </div>
        <div class="box">
            <p>Price</p>
            <div class="box-content">
                <h2>≈ ₹91.18<h2></h2>
            </div>
        </div>
    </div>
      </div>


      <div class="containerform form-container">
        <form>
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="text" class="form-control" id="amount" name="amount">
            </div>
            <div class="form-group">
                <label for="accountNo">Account No.:</label>
                <input type="text" class="form-control" id="accountNo" name="accountNo">
            </div>
            <div class="form-group">
                <label for="accountName">Account Name:</label>
                <input type="text" class="form-control" id="accountName" name="accountName">
            </div>
            <div class="form-group">
                <label for="ifsc">IFSC:</label>
                <input type="text" class="form-control" id="ifsc" name="ifsc">
            </div>
            <div class="form-group">
                <label for="transactionPassword">Transaction Password:</label>
                <input type="password" class="form-control" id="transactionPassword" name="transactionPassword">
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-success btn-block">Submit</button>
            </div>
        </form>
    </div>


<div class="containerinst instructions text-center">
    <h3 style="margin-bottom: 0;"><strong>Instructions:</strong></h3>
    <ol style="padding-left: 0; list-style: none;">
        <li>Please make sure you have enough USDT to trade.</li>
        <li>Available withdrawal time: 10 AM to 10 PM, Monday to Sunday.</li>
    </ol>
</div>






<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script src="static/js/inrwrhdash.js"></script>


</body>
</html>
