<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./inrwrh1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Wavefont:wght@300&display=swap"
    />
  </head>
  <body>
    <div class="iphone-14-15-pro-max-2">
      <section class="i-phone-pro-max-frame">
        <div class="i-phone-pro-max-frame-child"></div>
        <div class="f-r-a-m-e">
          <h2 class="order">Order</h2>
        </div>
        <div class="frame-parent4">
          <div class="rectangle-parent6">
            <div class="frame-child7"></div>
            <div class="account-no-frame">
              <b class="available-balancetext">1291</b>
            </div>
            <div class="available-balance-usdt-container">
              <p class="available-balance">Available Balance</p>
              <p class="usdt9">(USDT)</p>
            </div>
          </div>
          <div class="amount-frame">
            <div class="amount-frame-child"></div>
            <b class="b1">80.69</b>
            <div class="price-inr">Price (INR)</div>
          </div>
        </div>
      </section>
      <section class="wazir-x-frame">
        <div class="submit-text-frame">
          <div class="amount-account-no-i-f-s-c-text">
            <div class="amount">Amount</div>
          </div>
          <div class="enter-your-i-f-c-code-frame">
            <div class="enter-your-i-f-c-code-frame-child"></div>
            <div class="div6">2921.10</div>
          </div>
        </div>
        <div class="submit-text-frame1">
          <div class="account-no-wrapper">
            <div class="account-no">Account No :</div>
          </div>
          <input
            class="submit-text-frame-child"
            placeholder="WazirX Price"
            type="text"
          />
        </div>
        <div class="submit-text-frame2">
          <div class="ifsc-wrapper">
            <div class="ifsc">IFSC</div>
          </div>
          <input
            class="submit-text-frame-item"
            placeholder="Enter your IFSC Code"
            type="text"
          />
        </div>
        <div class="submit-text-frame3">
          <div class="transaction-password-wrapper">
            <div class="transaction-password">Transaction Password :</div>
          </div>
          <input
            class="submit-text-frame-inner"
            placeholder="WazirX Price"
            type="text"
          />
        </div>
      </section>
      <footer class="frame-footer">
        <div class="frame-child8"></div>
        <b class="submit2">Submit</b>
      </footer>
    </div>
  </body>
</html>
