<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" href="/static/css/transaction_details.css">
<link rel="stylesheet" href="static/css/spinner.css">
</head>

<body>


    <div id="spinner" class="loading-state">
        <div class="loading"></div>
        <div class="loading-text">
          <span class="orange-text">Hmm,</span>
          <span class="black-text"> Loading....</span>
        </div>
      </div>


    <div class="container1">
        <div class="left-arrow" onclick="history.back()">
          <img src="/static/assets/svg-elements/navigate-back.png" alt="Navigate Back">
      </div>
      <h2 class="text-center">Transaction Details</h2>
      </div>

      <div id="successmsg">Order ID Copied!!</div>

    <div class="transaction-details">
        <div class="detail">
            <span class="label">Order ID:</span>
            <span class="value" id="orderID">{{details['txn_id']}} <img src="/static/assets/svg-elements/copy-icon-black.png" id="copyIcon" onclick="copyToClipboard('orderID')" alt="Copy Icon"></span>
        </div>
        <div class="detail">
            <span class="label">USDT (TRC20):</span>
            <span class="value">{{details['amount']}}</span>
        </div>
        <div class="detail">
            <span class="label">Rupees:</span>
            <span class="value">{{details['amount'] * details['exchange_rate']}}</span>
        </div>
        <div class="detail">
            <span class="label">Rate:</span>
            <span class="value">{{details['exchange_rate']}}</span>
        </div>
        <div class="detail">
            <span class="label">Account No:</span>
            <span class="value">{{details['account_no']}}</span>
        </div>
        <div class="detail">
            <span class="label">Account Holder:</span>
            <span class="value">{{details['account_name']}}</span>
        </div>
        <div class="detail">
            <span class="label">IFSC:</span>
            <span class="value">{{details['ifsc']}}</span>
        </div>
        <div class="detail">
            <span class="label">Create Time:</span>
            <span class="value">{{details['created_at']}}</span>
        </div>
        <div class="detail">
            <span class="label">Transaction Time:</span>
            <span class="value">{{details['updated_at']}}</span>
        </div>
        <div class="detail">
            <span class="label">Transaction Status:</span>

            {% if details['status'] == 'Success' %}
            <span class="value" style="color:  green;">{{details['status']}}</span>

            {% elif details['status'] == 'Failed' %}
            <span class="value" style="color:   red;">{{details['status']}}</span>

            {% elif details['status'] == 'Processing' %}
            <span class="value" style="color:  orange;">{{details['status']}}</span>

            {% else %}
            <span class="value" style="color:  black;">{{details['status']}}</span>

            {% endif %}
            
            
        </div>
    </div>

    <!-- Add Bootstrap and JavaScript for copy to clipboard functionality -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/transaction_details.js"></script>
    <script src="static/js/spinner.js"></script>

</body>

</html>
