<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/css/global.css" />
    <link rel="stylesheet" href="static/css/transactions.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Wavefont:wght@300&display=swap"
    />

  </head>
  <body>
    <div class="iphone-14-15-pro-max-3">
      <section class="frame-root">
        <div class="transaction-box">
          <div class="transaction-box-child"></div>
          <h2 class="transactions1">Transactions</h2>
          <div class="price-frame-u-s-d-t">
            <div class="frame-exchange-details">
              <div class="frame-frame-exchange-rate">
                <div class="frame-frame-exchange-rate-child"></div>
                <div class="exchange-amount-today">1291</div>
                <div class="exchange-amount-today-container1">
                  <p class="exchange-amount1">Exchange Amount</p>
                  <p class="today1">Today</p>
                </div>
              </div>
            </div>
            <div class="frame-exchange-details1">
              <div class="rectangle-container">
                <div class="frame-inner"></div>
                <div class="div3">80.69</div>
                <div class="price-usdt1">
                  <p class="price1">Price</p>
                  <p class="usdt4">(USDT)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <div class="empty-frame1">
        <div id="widthdrawls" class="frame-withdrawals-info">
          <div  class="withdrawals1">Withdrawals</div>
          </div>
          <div id="deposits" class="frame-deposits-info"></div>
        <div class="deposits1">Deposits</div>
      </div>


      <!-- <div class="container2">
        <div class="button-container">
            <button id="hallbtn" class="btn active">Hall</button>
            <button id="recordbtn" class="btn">Record</button>
        </div>
    </div> -->


      <section class="empty-frame-vector-u-s-d-t">
        <div class="success-status-frame">22-02-2024, 20:19</div>
        <!-- <div class="success-status-frame1">22-02-2024, 20:19</div>
        <div class="success-status-frame2">22-02-2024, 20:19</div> -->
        <div class="failed-status-frame">
          <div class="failed-status-frame-child"></div>
          <div class="price-rs-text">
            <div class="vector-container1">
              <div class="usdt-parent">
                <div class="usdt5">2832.0 USDT</div>
                <div class="frame-container">
                  <div class="id-container">
                    <div class="id3">ID:</div>
                    <div class="wm12451sx3">WM12451SX</div>
                    <div class="price-text-wrapper">
                      <div class="price-text">259977.6</div>
                    </div>
                  </div>
                  <div class="price-rs-container">
                    <span>
                      <span>Price : </span>
                      <span class="rs-918">Rs 91.8</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="vector-container-inner">
                <button class="frame-button">
                  <div class="frame-child1"></div>
                  <div class="pending">Pending</div>
                </button>
              </div>
            </div>
          </div>
          <div class="vector-container-parent">
            <img
              class="vector-container-icon"
              loading="eager"
              alt=""
              src="./static/assets/public/vector-991.svg"
            />


            


      </section>

      <section class="empty-frame-vector-u-s-d-t">
        <div class="success-status-frame">22-02-2024, 20:19</div>
        <div class="failed-status-frame">
          <div class="failed-status-frame-child"></div>
          <div class="price-rs-text">
            <div class="vector-container1">
              <div class="usdt-parent">
                <div class="usdt5">2832.0 USDT</div>
                <div class="frame-container">
                  <div class="id-container">
                    <div class="id3">ID:</div>
                    <div class="wm12451sx3">WM12451SX</div>
                    <div class="price-text-wrapper">
                      <div class="price-text">259977.6</div>
                    </div>
                  </div>
                  <div class="price-rs-container">
                    <span>
                      <span>Price : </span>
                      <span class="rs-918">Rs 91.8</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="vector-container-inner">
                <button class="frame-button">
                  <div class="frame-child1"></div>
                  <div class="pending">Pending</div>
                </button>
              </div>
            </div>
          </div>
          <div class="vector-container-parent">
            <img
              class="vector-container-icon"
              loading="eager"
              alt=""
              src="./static/assets/public/vector-991.svg"
            />
      </section>



      <footer class="submit-text">
        <div class="submit-text-child"></div>
        <b class="submit1">Submit</b>
      </footer>
    </div>
  </body>
</html>
