<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>USDT Payment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="static/css/usdtdeposit.css">
    <link rel="stylesheet" href="static/css/spinner.css">

</head>
<body>


    <div id="spinner" class="loading-state">
        <div class="loading"></div>
        <div class="loading-text">

          <span class="black-text"> Loading....</span>
        </div>
      </div>


    <div class="header">

        <div class="left-arrow" id="arrowDiv">
            <img src="static/assets/svg-elements/navigate-back.png" alt="Navigate Back">
          </div>
      
        <div>
        <h3>USDT Payment</h3>
    </div>

    <div class="wallet-info">
        <h5>USDT TRC-20 Wallet Address</h5>
    </div>

</div>

    <div class="qr-code">
        <img id='qr-code-img'  src="{{ address_info['qr'] }}" alt="QR Code" width="300" height="300">
        <div class="wallet-address">
            <p id="wallet-address">{{ address_info["address"] }}</p>
        </div>
        <div id="successmsg">Copied</div>
        <div id="deposit-alert"></div>
        <button class="btn  btn-block copy-btn" onclick="copyWalletAddress()">Copy Address</button>
        <form>
            <div class="txnid position-relative">
              <input id="txnID" class="form-control"  name="txnid" placeholder="Enter your transaction ID." required>
            </div>
          </form>
        <button class="btn btn-block completed-btn" onclick="submitDeposit()">Submit</button>
    </div>

    <div class="notice">
        <p>Notice:</p>
        <ul>
            <li>Do not save the address for repeated deposits. The deposit address is updated in real time.</li>
            <li>Ensure you're depositing USDT on the TRC20 network.</li>
            <li>Wait 5-10 minutes for confirmation. Your wallet balance will be updated once the transaction is confirmed.</li>
            <li>If you have any questions, please contact customer service.</li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="static/js/usdt_deposit.js"></script>
    <script src="static/js/spinner.js"></script>

</body>
</html>
