<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>How it Works</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="static/css/usdtdepositinfo.css">
  
</head>
<body>

    <div class="left-arrow" id="scrollArrow" onclick="history.back()">
        <img src="static/assets/svg-elements/navigate-back.svg" alt="Navigate Back">
    </div>

    <div class="header">
        <h5>Payment USDT</h5>
    </div>

    <div class="info-svg">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
            <g fill="#008000" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M25,2c-12.703,0 -23,10.297 -23,23c0,12.703 10.297,23 23,23c12.703,0 23,-10.297 23,-23c0,-12.703 -10.297,-23 -23,-23zM25,11c1.657,0 3,1.343 3,3c0,1.657 -1.343,3 -3,3c-1.657,0 -3,-1.343 -3,-3c0,-1.657 1.343,-3 3,-3zM29,38h-2h-4h-2v-2h2v-13h-2v-2h2h4v2v13h2z"></path></g></g>
        </svg>
    </div>

    <div class="content">
        <h4>How it Works</h4>
        <ul>
            <hr>
            <li>Please make sure you have enough USDT to trade.</li>
            <hr>
            <li>If the transaction fails more than 2 times in a row, the account will be banned from trading for 7 days.</li>
            <hr>
            <li>The recharge address is valid for 30 minutes. Please complete the transfer within 30 minutes after obtaining the address. If it exceeds 30 minutes, please do not transfer to the expired address to avoid trouble.</li>
            <hr>
            <li>The recharge will be completed within 1-5 minutes after you complete the transfer. If you have not received the money for a long time, please contact the online customer service for help.</li>
            <hr>
        </ul>
    </div>

    <button id="paybtn" class="btn btn-success pay-btn btn-block">Pay in USDT</button>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="static/js/usdtdepositinfo.js"></script>

</body>
</html>
